@page "/admin/sdfdewgs/designing"


<MudContainer>
    <MudTabs Elevation="4" Rounded="true" Color="@Color.Primary">
        <MudTabPanel Text="Banner">
            <br />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    Site Dynamic Banners
                </div>
            </MudText>
            <br />
            <MudPaper>
                <MudText Typo="Typo.h4" Color="Color.Warning" Align="Align.Center">
                    <div class="IFArchitectsDaughter-Regular">Upload New Dynamic Banner :</div>
                    <MudIconButton Icon="@Icons.Filled.Upload" Color="Color.Error" Size="Size.Large" />
                </MudText>
                <br />
                <MudText Typo="Typo.h4" Color="Color.Warning" Align="Align.Center">
                    <div class="IFArchitectsDaughter-Regular"> Or Just Create New Banner :</div>
                    <MudIconButton Icon="@Icons.Filled.AddCircleOutline" Color="Color.Error" Size="Size.Large" />
                </MudText>
            </MudPaper>
            <MudGrid>
                <MudItem xs="6" md="6" xl="6">
                    <img src="/Images/ezgif.com-gif-maker.gif">
                </MudItem>
                <MudItem xs="6" md="6" xl="6">
                    <img src="/Images/Banner1.gif">
                </MudItem>
                <MudItem xs="6" md="6" xl="6">
                    <img src="/Images/Bannerlogo.gif">
                </MudItem>
                <MudItem xs="2" md="2" xl="2">
                    <img src="/Images/HotGirl.gif">
                </MudItem>
                <MudItem xs="4" md="4" xl="4">
                    <img src="/Images/StarsGif.gif">
                </MudItem>
                <MudItem></MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="Home Page Design">
            <br />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                   Home Page Design
                </div>
            </MudText>
            <DevelopingMode/>
        </MudTabPanel>
        <MudTabPanel Text="Dashboard Page Design">
            <br />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    Dashboard Page Design
                </div>
                <DevelopingMode/>
            </MudText>
        </MudTabPanel>
        <MudTabPanel Text="Blog Page Design">
            <br />
            <MudText Typo="Typo.h3" Align="Align.Center">
                <div class="IFArchitectsDaughter-Regular">
                    Site Blog Page Design
                </div>
            </MudText>
            <DevelopingMode/>
        </MudTabPanel>
    </MudTabs>
</MudContainer>