@page "/UICustomizationDashBoard"

<MudContainer Class="mt-16">
    <MudAlert Severity="Severity.Info">
        <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">
            <div class="IFArchitectsDaughter-Regular">UI Customization DashBoard</div>
        </MudText>
        <MudText Color="Color.Warning" Typo="Typo.h5">
            there we go !
            <br />
            build your own theme for your CMS , Folow this step's :
            <br />
            <ol>
                <li>build basic theme provider options in "Theme Builder" Part</li>
                <li>build and add your CMS Context Style's Icons Emojies and Typography in "Context" Part</li>
                <li>go to "Designing" Part and Start design your pages with prepared options in there</li>
            </ol>
        </MudText>
    </MudAlert>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">
                            Basics
                            <MudIcon Icon="fas fa-genderless" Color="Color.Primary" />
                        </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">Theme Builder</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.Colorize">
                            Colors
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.DesktopWindows">
                            BackGrounds
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.Layers">
                            Layout
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudLink Href="/themeBuilder">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:100%;">Start Now</MudButton>
                    </MudLink>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4" Style="background-color: #c22317">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Success">
                            Legend
                            <MudIcon Icon="fas fa-fighter-jet" Color="Color.Primary" />
                        </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">Designing</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="fas fa-file-image">
                            Banners
                        </MudListItem>
                        <MudListItem Icon="fas fa-couch">
                            Home Editor
                        </MudListItem>
                        <MudListItem Icon="fas fa-house-user">
                            Dashboard Editer
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudLink Href="/admin/sdfdewgs/designing">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:100%;">
                            Start Now
                        </MudButton>
                    </MudLink>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">
                            Professional
                            <MudIcon Color="Color.Error" Size="Size.Large" Icon="fab fa-angrycreative" />
                        </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">Context</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="fas fa-broom">
                            Typography
                        </MudListItem>
                        <MudListItem Icon="fas fa-icons">
                            Icon's
                        </MudListItem>
                        <MudListItem Icon="far fa-laugh-wink">
                            Emojies
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                      <MudLink Href="/Con/Text/Des/ign">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:100%;">
                            Start Now
                        </MudButton>
                    </MudLink>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>

    <MudExpansionPanels Class="mt-8">
        <MudExpansionPanel HideIcon="true">
            <TitleContent>
                <div class="d-flex">
                    <MudText Class="mt-1" Align="Align.Center">info</MudText>
                    <MudBadge Content="1" Color="Color.Primary" Overlap="true" Class="d-flex ml-auto">
                        <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
                    </MudBadge>
                </div>
            </TitleContent>
            <ChildContent>
                <h4 class="IFArchitectsDaughter-Regular">
                    Download the description file for more help:
                </h4>
                <MudIconButton Icon="fas fa-download" Size="Size.Large" Color="Color.Error"></MudIconButton>
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>
</MudContainer>
<MudSparkLine StrokeWidth="5" />