@page "/login"
<section class="IW7 Imarginauto" >
    <EditForm Model="loginModelDto" OnValidSubmit="ExecuteLogin">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardHeader>
                <h3 class="IFArchitectsDaughter-Regular">Login</h3>
            </MudCardHeader>
            <MudCardContent>
                <MudTextField Label="Email" @bind-Value="loginModelDto.Email"
                              For="@(() => loginModelDto.Email)" />
                <MudTextField Label="Supplier" @bind-Value="loginModelDto.Password"For="@(() => loginModelDto.Password)" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Dark"
                           Class="ml-auto">Login</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</section>