@page "/registration"
<section class="IW7 Imarginauto">
    <EditForm Model="_userForRegistration" OnValidSubmit="Register">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardHeader>
                <h3 class="IFArchitectsDaughter-Regular">Register</h3>
            </MudCardHeader>
            <MudCardContent>
                <MudTextField Label="Email" @bind-Value="_userForRegistration.Email"
                              For="@(() => _userForRegistration.Email)" />
                <MudTextField Label="Password" @bind-Value="_userForRegistration.Password" For="@(() => _userForRegistration.Password)" />
                <MudTextField Label="ConfirmPassword" @bind-Value="_userForRegistration.ConfirmPassword" For="@(() => _userForRegistration.ConfirmPassword)" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Dark"
                           Class="ml-auto">Register</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</section>