<MudGrid>
    <div class="row">
        <div class="col-8">
            <MudAlert ShowCloseIcon="false" AlertTextPosition="AlertTextPosition.Center" Severity="Severity.Error">
                <MudText Typo="Typo.h4" Color="Color.Secondary">
                    <div class="IFArchitectsDaughter-Regular">
                        Welcome To Illegible CMS
                    </div>
                </MudText>
                <MudText Align="Align.Left" Color="Color.Error" Typo="Typo.h6">
                    <div class="IFArchitectsDaughter-Regular">
                        let's build new internet together !!
                        <br />
                        More interesting ,
                        <br />
                        More fun ,
                        <br />
                        The most user friendly UI ,
                        <br />
                        Comfortable like your dream home ,
                        <br />
                        Lets start With illegible blazor CMS
                    </div>
                </MudText>
            </MudAlert>
        </div>
        <div class="col-4">
            <img src="Images/illegible.png" class="IW10 IH10 IBorder5" />
        </div>
    </div>
</MudGrid>























@*<MudPaper Elevation="3" Class="my-5 py-5">
    <MudContainer>
    <div class="row">
    <div class="col-2">
    <MudIcon Icon="@Icons.Filled.AccessAlarms" Color="Color.Error" Size="Size.Large">
    </MudIcon>
    <MudText Align="Align.Left" Color="Color.Error" Typo="Typo.body1">
    wake up internet!
    </MudText>
    </div>
    <div class="col-10">
    <MudText Align="Align.Center" Color="Color.Warning" Typo="Typo.h3">
    <div class="IFArchitectsDaughter-Regular">Let's  Build  Different toghetter</div>
    </MudText>
    </div>
    </div>
    </MudContainer>
    <MudContainer>
    <MudCardMedia Image="/Images/GalaxyOfIllShop.jpg">
    </MudCardMedia>
    <MudText Typo="Typo.h4" Color="Color.Warning">
    <div class="IFArchitectsDaughter-Regular">
    Wake up internet !
    <br />
    Lets create art instead of dead websites.
    <br />
    Web sites Should be intersting like a master pease .
    <br />
    Wake up  internet !
    <br />
    You are boring us , you should to get more intersting
    </div>
    </MudText>
    </MudContainer>
    </MudPaper>

    <MudPaper>
    <LastProducts/>
    </MudPaper>*@