<MudPaper>
    <CssArt/>
</MudPaper>
<MudPaper Elevation="3" Class="my-5 py-5">
    <MudContainer>
        <div class="row">
            <div class="col-2">
                <MudIcon Icon="@Icons.Filled.AccessAlarms" Color="Color.Error" Size="Size.Large">
                </MudIcon>
                <MudText Align="Align.Left" Color="Color.Error" Typo="Typo.body1">
                    wake up internet!
                </MudText>
            </div>
            <div class="col-10">
                <MudText Align="Align.Center" Color="Color.Warning" Typo="Typo.h3">
                    <div class="IFArchitectsDaughter-Regular">Let's  Build  Different toghetter</div>
                </MudText>
            </div>
        </div>
    </MudContainer>
    <MudContainer>
        <MudCardMedia Image="/Images/GalaxyOfIllShop.jpg">
        </MudCardMedia>
        <MudText Typo="Typo.h4" Color="Color.Warning">
            <div class="IFArchitectsDaughter-Regular">
                Wake up internet !
                <br />
                Lets create art instead of dead websites.
                <br />
                Web sites Should be intersting like a master pease .
                <br />
                Wake up  internet !
                <br />
                You are boring us , you should to get more intersting
            </div>
        </MudText>
    </MudContainer>
</MudPaper>

<MudPaper>
   <LastProducts/>
</MudPaper>