<MudPaper Elevation="3" Class="my-5 py-5">
    <MudContainer Class="row">
        <MudText Align="Align.Center" Color="Color.Warning" Typo="Typo.h3">
            <MudIcon Icon="@Icons.Filled.Keyboard">
                <p>wakeup internet!</p>
            </MudIcon>
            <div class="IFArchitectsDaughter-Regular">Let's  Build  Different toghetter</div>
        </MudText>
    </MudContainer>
    <MudContainer>
        <MudCardMedia Image="/Images/GalaxyOfIllShop.jpg">
        </MudCardMedia>
    </MudContainer>
</MudPaper>