<MudText Align="Align.Center" Typo="Typo.h3" Color="Color.Primary">
  Illegible Shop
</MudText>
<MudPaper Elevation="3" Class="my-5 py-5">
   <MudContainer>
       <div class="row col">
           <img src="/Images/GalaxyOfIllShop.jpg" class="IW8 IH5"/>
       </div>
   </MudContainer>
</MudPaper>