<MudGrid>
    <MudItem xs="12" sm="12" xl="12" xxl="12">
        <div class="row IBImageGalaxy IBorder5 mt-4 IW12">
            <div class="col-8">
                <MudAlert ShowCloseIcon="false" Style="border:8px double black; border-radius : 55px 5500px 78px 896px; " AlertTextPosition="AlertTextPosition.Center" Severity="Severity.Error">
                    <MudText Typo="Typo.h4" Color="Color.Secondary">
                        <div class="IFArchitectsDaughter-Regular">
                            Welcome To Illegible CMS
                        </div>
                    </MudText>
                    <MudText Align="Align.Left" Color="Color.Error" Typo="Typo.h6">
                        <div class="IFArchitectsDaughter-Regular ">
                            let's build new internet together !!
                            <br />
                            More interesting ,
                            <br />
                            More fun ,
                            <br />
                            The most user friendly UI ,
                            <br />
                            Comfortable like your dream home ,
                            <br />
                            Lets start With illegible blazor CMS
                        </div>
                    </MudText>
                </MudAlert>
            </div>
            <div class="col-4">
                <img src="Images/illegible.png" class="IW10 IH10 IBorder5" />
            </div>
        </div>
    </MudItem>
    <MudItem xs="12" sm="12" xl="12" xxl="12">
        <div class="row IBImageGalaxy IBorder5 mt-4 IW12" style="float:right">
            <div class="col-4">
                <img src="Images/StarsGif.gif" class="IW10 IH10 IBorder5" />
            </div>
            <div class="col-8">
                <MudAlert ShowCloseIcon="false" Style="border:10px double black; border-radius :896px 78px 5500px 55px; " AlertTextPosition="AlertTextPosition.Center" Severity="Severity.Success">
                    <MudText Typo="Typo.h4" Color="Color.Info">
                        <div class="IFArchitectsDaughter-Regular">
                            What Is Illegible CMS ?
                        </div>
                    </MudText>
                    <MudText Align="Align.Left" Color="Color.Info" Typo="Typo.h6">
                        <div class="IFArchitectsDaughter-Regular ">
                            It's a content managment system
                            <br />
                            Powered By c# 10 , .net 6 & Blazor Webassembly ,
                            <br />
                            Designed with Mud Blazor library,
                            <br />
                            And My Own Css Library ,
                            <br />
                            Written By Mohammad Javad Tabari (Illegible),
                            <br />
                            So , Lets start With illegible blazor CMS !!
                        </div>
                    </MudText>
                </MudAlert>
            </div>
        </div>
    </MudItem>
    <MudItem xs="12" sm="12" xl="12" xxl="12">
        <div class="row IBImageGalaxy IBorder5 mt-4 IW12">
            <div class="col-8">
                <MudAlert ShowCloseIcon="false" Style="border:8px double black; border-radius : 55px 5500px 78px 896px; " AlertTextPosition="AlertTextPosition.Center" Severity="Severity.Error">
                    <MudText Typo="Typo.h4" Color="Color.Secondary">
                        <div class="IFArchitectsDaughter-Regular">
                            How It Works ?
                        </div>
                    </MudText>
                    <MudText Align="Align.Left" Color="Color.Error" Typo="Typo.h6">
                        <div class="IFArchitectsDaughter-Regular ">
                            First I Should Tell That!!
                            <br />
                            Illegible Blazor CMS Is In Development Mode ,
                            <br />
                            I Use Basic Theme providers And Colors To Design,
                            <br />
                            Of Course I Let User Build Customized Themes or Colors Or Even Icons for Typography ,
                            <br />
                            But My Girl Is So Young ,
                            <br />
                            She Need To Grow Up And Get More Dynamic
                        </div>
                    </MudText>
                </MudAlert>
            </div>
            <div class="col-4">
                <img src="Images/doggie.gif" class="IW10 IH10 IBorder5" />
            </div>
        </div>
    </MudItem>
</MudGrid>

@*<MudPaper Elevation="3" Class="my-5 py-5">
    <MudContainer>
    <div class="row">
    <div class="col-2">
    <MudIcon Icon="@Icons.Filled.AccessAlarms" Color="Color.Error" Size="Size.Large">
    </MudIcon>
    <MudText Align="Align.Left" Color="Color.Error" Typo="Typo.body1">
    wake up internet!
    </MudText>
    </div>
    <div class="col-10">
    <MudText Align="Align.Center" Color="Color.Warning" Typo="Typo.h3">
    <div class="IFArchitectsDaughter-Regular">Let's  Build  Different toghetter</div>
    </MudText>
    </div>
    </div>
    </MudContainer>
    <MudContainer>
    <MudCardMedia Image="/Images/GalaxyOfIllShop.jpg">
    </MudCardMedia>
    <MudText Typo="Typo.h4" Color="Color.Warning">
    <div class="IFArchitectsDaughter-Regular">
    Wake up internet !
    <br />
    Lets create art instead of dead websites.
    <br />
    Web sites Should be intersting like a master pease .
    <br />
    Wake up  internet !
    <br />
    You are boring us , you should to get more intersting
    </div>
    </MudText>
    </MudContainer>
    </MudPaper>

    <MudPaper>
    <LastProducts/>
    </MudPaper>*@