@page "/IllShopProductCategory"

<section class="IW7 Imarginauto">
    <EditForm Model="ProductCategoryDto" OnValidSubmit="Create">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudSelect AdornmentIcon="@Icons.Material.Filled.Category" AdornmentColor="Color.Primary" T="string" Label="Category Icon" OffsetY="true" Dense="true" Class="ml-4">
                    @foreach (var icon in iconsList)
                    {
                        <MudSelectItem T="string" Value="@icon">
                            <MudText>@icon</MudText>
                            <MudIcon Icon=@icon></MudIcon>
                        </MudSelectItem>
                    }
                </MudSelect>
                <MudTextField Label="Category Name" @bind-Value="ProductCategoryDto.CategoryName"
                              For="@(() => ProductCategoryDto.CategoryName)" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success"
                           Class="ml-auto">Create Category</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</section>