@page "/addProduct"
<section class="IW7 Imarginauto" >
    <EditForm Model="ProductDto" OnValidSubmit="Create">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Product Name" @bind-Value="ProductDto.ProductName"
                              For="@(() => ProductDto.ProductName)" />
                <MudTextField Label="Supplier" @bind-Value="ProductDto.Supplier"
                              For="@(() => ProductDto.Supplier)" />
                <MudTextField Label="Price" @bind-Value="ProductDto.Price" HelperText="Between 5 and 1000"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.AttachMoney"
                              InputType="InputType.Number" For="@(() => ProductDto.Price)" />
                <MudDatePicker Label="Manufacture date" @bind-Date="_date" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                           Class="ml-auto">Create Product</MudButton>
            </MudCardActions>
            <br />
            <ImageUpload OnChange="AssignImageUrl" />
        </MudCard>
    </EditForm>
</section>